<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cim.cimConfig.dao.PortAttributesDao">

    <select id="get" resultType="com.cim.cimConfig.domain.PortAttributesDO">
        select * from portAttributes where serial = #{value}
    </select>

    <select id="list" resultType="com.cim.cimConfig.domain.PortAttributesDO">
        select * from portAttributes
        <if test="searchName != null and searchName.trim() != ''">
            WHERE modelNumber LIKE '%'+#{searchName}+'%'
        </if>
        ORDER BY serial desc
        <if test="offset != null and limit != null">
            OFFSET ${offset} ROWS FETCH NEXT ${limit} ROWS ONLY
        </if>
    </select>
    <select id="list2" resultType="com.cim.cimConfig.domain.PortAttributesDO">
        select
        <if test="offset != null and limit != null">
            top ${limit}
        </if>
        * from portAttributes
        <if test="offset != null and limit != null">
            where serial not in (select top ${offset} serial from portAttributes
            <choose>
                <when test="sort != null and sort.trim() != ''">
                    order by ${sort} ${order})
                </when>
                <otherwise>
                    order by serial desc)
                </otherwise>
            </choose>
        </if>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by serial desc
            </otherwise>
        </choose>
    </select>
    <select id="count" resultType="int">
        select count(*) from portAttributes
    </select>

    <insert id="save" parameterType="com.cim.cimConfig.domain.PortAttributesDO" useGeneratedKeys="true"
            keyProperty="serial">
        insert into portAttributes
        (
        className,
        modelNumber,
        abbreviation,
        description,
        width,
        depth,
        height,
        faceDepth,
        inOrOut
        )
        values
        (
        #{className},
        #{modelNumber},
        #{abbreviation},
        #{description},
        #{width},
        #{depth},
        #{height},
        #{faceDepth},
        #{inOrOut}
        )
    </insert>

    <update id="update" parameterType="com.cim.cimConfig.domain.PortAttributesDO">
        update portAttributes
        <set>
            <if test="className != null">className = #{className},</if>
            <if test="modelNumber != null">modelNumber = #{modelNumber},</if>
            <if test="abbreviation != null">abbreviation = #{abbreviation},</if>
            <if test="description != null">description = #{description},</if>
            <if test="width != null">width = #{width},</if>
            <if test="depth != null">depth = #{depth},</if>
            <if test="height != null">height = #{height},</if>
            <if test="faceDepth != null">faceDepth = #{faceDepth},</if>
            <if test="inOrOut != null">inOrOut = #{inOrOut},</if>
        </set>
        where serial = #{serial}
    </update>

    <delete id="remove">
        delete from portAttributes where serial = #{value}
    </delete>

    <delete id="batchRemove">
        delete from portAttributes where serial in
        <foreach item="serial" collection="array" open="(" separator="," close=")">
            #{serial}
        </foreach>
    </delete>

</mapper>